

.UserData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond ; 
    height: 100%;
    overflow-y: scroll;
    width: 99.9%;

}

.UserData--Routes {
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
}

.Loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: blanchedalmond ; 
    height: 98vh;
    width: 99.9%;
    color: #009879;
}



.content-table {
    
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 200px;
  max-width: 600px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;

}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

button {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 5px;
}

* {
    margin: 0;
    padding:0;

}

.img {
    height: 80%;
    width: 80%;
    border-radius: 100%;
    
}

th, td {
    border: 1px solid #dddd;
}

table {
    border-collapse: collapse;
}

.custom--tr {
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;

}

tr {
    height: 80px;
    width: 60%;
}

::-webkit-scrollbar {
    width: 10px;
}


/* ////////////////////////////////////////////// */

