

.UserData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond ; 

}

.UserData--Routes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



table {
    border-spacing: 0;
    border: 1px solid black;
    
}




th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 5px solid black;
    border-right: 1px solid black;
}

th, td :last-child {
    border-right: 0;
  }

th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}

.tr {
    border: 1px solid black ;
    
}

.profilepictures {

}

button {
    background: transparent;
    border: 1px solid black;
    color: brown;
    border-radius: 5px;
}