

.UserData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: blanchedalmond ; 
    height: 100%;
    overflow-y: scroll;
    width: 99.9%;

}

.UserData--Routes {
  
}



table {
    
    border-spacing: 0;
    border: 1px solid black;
    width: 80%;
    
}


button {
    background: black;
    color: wheat;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

tr img {
    height: 80%;
    width: 80%;
    border-radius: 100%;
    border: 5px solid #E6E7E8;
}

th, td {
    border: 1px solid #dddd;
    font-size: 90%;

    padding-left: 10px ;
}

table {
    border-collapse: collapse;
}

.custom--tr {
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;

}

tr {
    height: 80px;
    width: 60%;
}

::-webkit-scrollbar {
    width: 10px;
}